<div class="container mb-5">
  <div class="row">
    <div class="col-md-12">
      <h2>Form dynamic</h2>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="form">
        <div *ngFor="let prop of personProps" class="form-group">
          <label>{{ prop.label }}</label>

          <div [ngSwitch]="prop.type">
            <input *ngSwitchCase="'text'" class="form-control" [type]="prop.type" [formControlName]="prop.key" />
            <input *ngSwitchCase="'number'" class="form-control" [type]="prop.type" [formControlName]="prop.key" />
            <select *ngSwitchCase="'select'" [formControlName]="prop.key">
              <option *ngFor="let option of prop.options" [value]="option.value">
                {{ option.label }}
              </option>
            </select>

            <div *ngSwitchCase="'radio'">
              <label *ngFor="let o of prop.options" class="mr-2">
                <input
                  type="radio"
                  [name]="prop.key"
                  [formControlName]="prop.key"
                  [value]="o.value">
                  {{ o.label }}
              </label>
            </div>

            <div class="error" *ngIf="form.get(prop.key).invalid && (form.get(prop.key).dirty || form.get(prop.key).touched)">
              <div *ngIf="form.get(prop.key).errors.required">
                This field is required, you have to provide a value for it.
              </div>
              <div *ngIf="form.get(prop.key).errors.min">
                You have to provide a value greater or equal to {{ form.get(prop.key).errors.min.min }}
              </div>
            </div>

          </div>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <pre>{{ form.value | json }}</pre>
    </div>
  </div>

</div>
