<div class="container py-5">
  <div class="row">
    <div class="col-md-12">
      <h2>Ngx formly form</h2>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="form" (ngSubmit)="submittedData = data">
        <formly-form [model]="data" [fields]="formDataObj">
          <button class="btn btn-warning" type="submit">Save</button>
        </formly-form>
      </form>
    </div>
    <div class="col-md-6">
      <pre style="color: orange">{{ submittedData | json }}</pre>
    </div>
  </div>

</div>
